
$font-stack: sans-serif;
$hover-color: red;
@mixin emflexrow{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
 }

.em-client-blog {
    @include emflexrow();
    max-width: 1400px;
    margin:auto;
    padding:0 10px;
    article{
        width:30%;
        font-family:$font-stack;
        padding: 20px;

        .featured-img{
            width: 100%;
            height: 200px;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: initial;
            background-size: cover
        }    
    }


}
